<ul class="list-inline text-center footer-links">

{%- if site.social-network-links.email -%}
  <li class="list-inline-item">
    <a href="mailto:anishtiwari.758@gmail.com" title="Email me">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Email me</span>
   </a>
  </li>
{%- endif -%}


{%- if site.social-network-links.facebook -%}
  <li class="list-inline-item">
    <a href="https://www.facebook.com/{{ site.social-network-links.facebook }}" title="Facebook">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Facebook</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.telegram -%}
  <li class="list-inline-item">
    <a href="https://t.me/{{ site.social-network-links.telegram }}" title="Telegram">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-telegram-plane fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Telegram</span>
    </a>
  </li>
{%- endif -%}




{%- if site.social-network-links.reddit -%}
  <li class="list-inline-item">
    <a href="https://www.reddit.com/user/Venomish_says" title="Reddit">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-reddit fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Reddit</span>
   </a>
  </li>
{%- endif -%}


{%- if site.social-network-links.youtube -%}
  <li class="list-inline-item">
    <a href="https://youtube.com/channel/UCzx0X6nw72pK3RChhb9CSVQ" title="YouTube">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">YouTube</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.spotify -%}
  <li class="list-inline-item">
    <a href="https://open.spotify.com/user/3146uyl34zle4s3mhk64qwtwowd4" title="Spotify">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-spotify fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Spotify</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.telephone -%}
  <li class="list-inline-item">
    <a href="tel:+916291819601" title="Phone">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-phone fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Phone</span>
   </a>
  </li>
{%- endif -%}

</ul>
